 
 
 <div th:if="${msgSucesso} != null">
 <b  th:text="${msgSucesso}" style="color: blue;"></b>
  </div>
  
  <div th:if="${msgsucesso} != null">
 <b  th:text="${msgsucesso}" style="color: blue;"></b>
  </div>
  
   <div th:if="${msgUsuario} != null">
 <b  th:text="${msgUsuario}" style="color: blue;"></b>
  </div>
  
   <div th:if="${msgPermicao} != null">
 <b  th:text="${msgPermicao}" style="color: blue;"></b>
  </div>
   <div th:if="${msgUsuarioNaoExiste} != null">
 <b  th:text="${msgUsuarioNaoExiste}" style="color: rgb(255, 255, 0);"></b>
  </div>
   <!-- Informa uma mensagem caso já existir usuário com mesmo email cadastrado no banco de dados  -->
   <div th:if="${msgErrorSalvar} != null">
 <b  th:text="${msgErrorSalvar}" style="color: red;"></b>
  </div>
   
   <!-- Informa uma mensagem caso  cadastro for realizado com sucesso no banco de dados  -->
   <div th:if="${msgCadastrado} != null">
 <b  th:text="${msgCadastrado}" style="color: blue;"></b>
  </div>
   
    <div th:if="${msgInvestimento} != null">
 <b  th:text="${msgInvestimento}" style="color: blue;"></b>
  </div>
  
   <div th:if="${msgListaTotal} != null">
 <b th:text="${msgListaTotal}" style="color: blue; font-size: 200%;"></b>
  </div>
  
   <div th:if="${TotalDespesas} != null">
 <b th:text="${TotalDespesas}" style="color: blue; font-size: 200%;"></b>
  </div>
  
   <div th:if="${TotalInvestimento} != null">
 <b th:text="${TotalInvestimento}" style="color: blue; font-size: 200%;"></b>
  </div>
  
  <div th:if="${msgDespesa} != null">
 <b th:text="${msgDespesa}" style="color: blue; font-size: 200%;"></b>
  </div>
  
   <div th:if="${msgVisitante} != null">
 <b  th:text="${msgVisitante}" style="color: blue;"></b>
  </div>
  
  <div th:if="${msgErrorLogin} != null">
          <b  th:text="${msgErrorLogin}" style="color: rgb(255, 0, 0);"></b>
          <br/><br/>
       </div>