<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    
    <link rel="stylesheet" href="estilo/estilo.css"/>
    
  </head>
  <body>
    <h1>Hello, world!</h1>
    
    <div onmouseout="sair()" onmouseover="cor()" id="x"  style="height: 100px;">
    
    </div>
     <br><br>
     <form >
        <label>Valor 1:</label>
        <input type="text" id="valor1" placeholder="Digite um valor 1 " >
         <label>Valor 2:</label>
          <input type="text" id="valor2" value="" onkeypress="soma()" placeholder="Digite um valor 2  " >
          <label>Resultado</label>
          <input type="text" id="rst" placeholder="Resultado " >
          <br><br>
          <input type="button" style="height: 20px; width: 100px; margin-left: 150px;" th:onclick="soma()">calcular</input>
     </form>
    
    <script th:inline="javascript">
         
          let div = document.getElementById("x");
         
           let v1 = document.getElementById("valor1").value;
          let v2 = document.getElementById("valor2").value;
          var rs = document.getElementById("rst");
         
      /*   var p=   prompt("Informe um número:");
	     var d = prompt("informe outro número:");
	     
	     var x=parseFloat(p);
	     var z=parseFloat(d);    
	     var s=x+z;
	     alert(s);
	     */
           function soma(){
          var valor=parseInt(v1);
          var valor2=parseInt(v2);
          
          var t=valor+valor2;
          
          alert(t);
           
          
          }
          
        function sair(){
	div.style.backgroundColor="blue";
     }
         
</script>
  </body>
</html>