<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>



<style>
/* configurando o corpo da página com uma cor de fundo*/
 body{
	background-color:white
	
}
.vh-100{
	background-color: white;
}
  /*colocando uma cor de fundo na tag que centralizar a tabela*/
#centro{
	background-color: white;
}
 /* colocando uma margin bottom e uma largura*/
#tabela{
	margin-bottom: 245%;
	width: 90%;
	
}
h1{
	font-family: 'Times New Roman', Times, serif;
}
/*  colocando uma largura e uma cor de fundo no link*/
.bt{
	width: 100%;
	background-color:white ;
	padding-left: 40%;
    background-color: white;
}
.centralizaTitulos{
	text-align: center;
}
</style>
<meta charset="UTF-8">
<title>Lista de clientes</title>
 <!--  link da plataformar booststrap importante css nessa página -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
        <section class="vh-100">
      
 
  <div class="container py-5 h-100">
  
    <div class="row d-flex justify-content-center align-items-center h-100" id="centro" >
      
          <div class="card-body p-5 text-center" >
          <!-- colocando um título no corpo da página -->
           <h1>Listar Clientes</h1>
          </div>
          <a href="/" style="margin-left: 8%; margin-bottom: 0.5%;" >Ir para Tela Principal</a>
          <!-- Criando uma tabela-->
         <table class="table table-bordered " id="tabela"> 
         <!--Criando uma o título das colunas  -->
  <thead>
    <!-- Crindo uma linha para colocar os títulos da coluna-->
    <tr>
         <!--Criando os títulos -->
      <th scope="col" class="centralizaTitulos">Nome:</th>
      <th scope="col" class="centralizaTitulos">Telefone:</th>
      <th scope="col" class="centralizaTitulos">Endereço:</th>
                           <!--Criador uma classe para altera o lugar do título -->
      <th  scope="col"> <div class="centralizaTitulos" >Excluir:</div></th>
      <th  scope="col"> <div class="centralizaTitulos" >Edição:</div></th>
    </tr>
     <!-- fechando a tag de título ou cabeçalho -->
  </thead>
               <!-- th:each feito para percorre passando um objeto como um forith pra seta os objetos cliente na view da tabela -->
             <tr  th:each=" cliente: ${clientes}">
            
                    <!-- setando o objeto cliente do atributo nome -->
                  <a  th:href="'/servicos/'+${cliente.id}">   <td th:text="${cliente.nome}" class="centralizaTitulos"></td></a>
              <!-- setando o objeto cliente do atributo telefone -->
               <td th:text="${cliente.telefone}" class="centralizaTitulos"></td>
               <!-- setando o objeto cliente do atributo endereço -->
               <td th:text="${cliente.endereco}" class="centralizaTitulos"></td>
             
                 <td>
                      <!-- um link para excluir um cliente pelo id -->                                                                                 <!-- colocando um icone na tag de imagem pelo thymelef -->          
                 <a th:href="'/Clientes/excluir/' + ${cliente.id}" th:onclick="if(!confirm('Deseja excluir esse Cliente?'))return false" class="bt" ><img th:src="@{/imagem/bin.png}"/>
                 </a>
              </td>
              <td>
               <a th:href="'/Clientes/edita/' + ${cliente.id}" th:onclick="if(!confirm('Deseja atualizar alguns dados do cliente?'))return false" class="bt" ><img th:src="@{/imagem/atualizar.png}"/>
               </a>
              </td>
            </tr>
  
     </table>
           
      </div>
    </div>
 
</section>


 <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>